.profile {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.profile h3 {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;


}

.strDrink {
    width: 30%;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  

}

.strDrink Img {
    width: 120px;
    

}

.contenedor_fav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;



}

.strImg {

    border-radius: 50%;
}
.sectionFav{
  
}